.reviews {
  padding: 16px;
  background-color: #101418;
  border-radius: 8px;
  border: 1px solid #1f262e;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noInfo {
  margin: 0 auto;
}
